/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .logo img {
    max-width: 100px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #ff9900;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
  }
  
  .header-icons a {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    transition: color 0.3s;
  }
  
  .header-icons a:hover {
    color: #ff9900;
  }